{% extends 'superadmin/basic.html' %}

{% block title %}Staff | Add Query{% endblock %}

{% block body %}
<form action="/superadmin/chatbot/" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="tag">Tag</label>
      <input
        type="text"
        class="form-control"
        id="tag"
        name="tag"
      />
    </div>
    <div class="form-group">
      <label for="pattern">Patterns</label>
      <input
        type="text"
        class="form-control"
        id="pattern"
        name="pattern"
      />
      <label for="pattern">Patterns</label>
      <input
        type="text"
        class="form-control"
        id="pattern"
        name="pattern"
      />
      <label for="pattern">Patterns</label>
      <input
        type="text"
        class="form-control"
        id="pattern"
        name="pattern"
      />
    </div>
    <div class="form-group">
      <label for="response">Reponse 1</label>
      <input
        type="text"
        class="form-control"
        id="response"
        name="response"
      />
      <label for="response">Reponse 2</label>
      <input
        type="text"
        class="form-control"
        id="response"
        name="response"
      />
      <label for="response">Reponse 3</label>
      <input
        type="text"
        class="form-control"
        id="response"
        name="response"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}