{% extends 'superadmin/basic.html' %}

{% block title %}Staff | Add Query{% endblock %}

{% block body %}
<form action="/superadmin/addquery" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="tag">Category</label>
      <input
        type="text"
        class="form-control"
        id="tag"
        name="tag"
      />
    </div>
    <div class="form-group">
      <label for="pattern">Question</label>
      <input
        type="text"
        class="form-control"
        id="pattern"
        name="pattern"      
      />
    </div>
    <div class="form-group">
      <label for="response">Answer</label>
      <input
        type="text"
        class="form-control"
        id="response"
        name="response"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}