<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Chatbot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated and user.is_member %}
          <li class="nav-item active">
            <a class="nav-link" href="/superadmin/addquery">Add Query <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
          {% if user.is_authenticated and user.is_department or user.is_member %}
          <li class="nav-item">
            <a class="nav-link" href="/superadmin/queryhistory">Query History</a>
          </li>
          {% endif %}
          {% if user.is_authenticated and user.is_member %}
          <li class="nav-item">
            <a class="nav-link" href="/superadmin/sendmessage">Send message</a>
          </li>
          {% endif %}
          {% if user.is_authenticated and user.is_department or user.is_member %}
          <li class="nav-item">
            <a class="nav-link" href="/superadmin/invalidquery">Invalid Query</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            {% if user.is_authenticated and not user.is_student %}
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accounts
            </a>
            {% endif %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated and user.is_university %}
              <a class="dropdown-item" href="/superadmin/signupstudent">Create Student Account</a>
              <a class="dropdown-item" href="/superadmin/signupdepartment">Create Department Account</a>
              {% endif %}
              {% if user.is_authenticated and user.is_super_admin %}
              <a class="dropdown-item" href="/superadmin/signupuniversity">Create University Account</a>
              {% endif %}
              {% if user.is_authenticated and user.is_department %}
              <a class="dropdown-item" href="/superadmin/signupmember">Create Staff Account</a>
              {% endif %}
          </li>
          <li class="form-inline my-2 my-lg-0">
            <a class="nav-link" href='{% if user.is_super_admin %}{{"/superadmin/logout"}}{% elif user.is_university %}{{"/superadmin/universityhome/logout"}}{% elif user.is_department %}{{"/superadmin/departmenthome/logout"}}{% else %}{{"/superadmin/studenthome/logout"}}{% endif %}'>Logout</a>
          </li>
        </ul>
        {% endif %}        
      </div>
    </nav>  
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
    {% block body %}

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>