{% extends 'superadmin/basic.html' %}

{% block title %}Super Admin Login{% endblock %}

{% block body %}
<div class="card">
  <h5 class="card-header">Staff Login</h5>
  <div class="card-body">
<form action="handlememberlogin" method="post"> 
    {% csrf_token %}
    <div class="form-group">
      <label for="loginusername">Username</label>
      <input type="text" class="form-control" id="loginusername" name="loginusername" aria-describedby="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="loginpass">Password</label>
      <input type="password" class="form-control" id="loginpass" name="loginpass" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
{% endblock %}