{% extends 'superadmin/basic.html' %}

{% block title %}Super Admin Login{% endblock %}

{% block body %}
<form action="/superadmin/studenthome" method="POST">
    {% csrf_token %}
    <!-- <div class="form-group">
      <label for="response">Response</label>
      <input
        type="text"
        class="form-control"
        id="response"
        name="response"
        value={{response}}
      />
    </div> -->
    {% for o in queries %}
      <div class="container">
        <p><b>You:</b> {{ o.query }}</p>
        <p><b>chatbot:</b>{{ o.response }}</p>
      </div>
    {% endfor %}

    <div class="form-group">
      <label for="exampleInputPassword1">Query</label>
      <input
        type="text"
        class="form-control"
        id="query"
        name="query"
        value={{query}}
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Message from Admin</th>
            <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
            {% for s in schedule %}
            <tr>
                                         
                <td>{{ s.msg }}</td>
                <td>{{ s.criteria }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>
{% endblock %}