{% extends 'superadmin/basic.html' %}

{% block title %}University Dashboard{% endblock %}

{% block body %}
<div class="card">
    <h5 class="card-header">Departments({{ dept_count }})</h5>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Names</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for o in dept %}
          <tr>
            <td>{{ o.name }}</td>
            <td >
                <form action="/superadmin/handledeletedept" method="post">
                    {% csrf_token %} 
                    <input type="hidden" value="{{o.username}}" name="delete-id">
                    <button type="Submit">Delete</button>
                </form>
            </td>
            <td >
                <form action="/superadmin/updatedept" method="post">
                    {% csrf_token %} 
                    <input type="hidden" value="{{o.username}}" name="username">
                    <button type="Submit">Update</button>
                </form>
            </td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
  </div>

<div class="card">
    <h5 class="card-header">Students({{ students_count }})</h5>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Names</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for o in students %}
          <tr>
            <td>{{ o.username }}</td>
            <td >
                <form action="/superadmin/handledeletedept" method="post">
                    {% csrf_token %} 
                    <input type="hidden" value="{{o.username}}" name="delete-id">
                    <button type="Submit">Delete</button>
                </form>
            </td>
            <td >
                <form action="/superadmin/updatedept" method="post">
                    {% csrf_token %} 
                    <input type="hidden" value="{{o.username}}" name="username">
                    <button type="Submit">Update</button>
                </form>
            </td>
          </tr>
        {% endfor %}  
        </tbody>
      </table>
  </div>
{% endblock %}