{% extends 'superadmin/basic.html' %}

{% block title %}Super Admin | Update university account{% endblock %}

{% block body %}
<form action="handleupdateuni" method="post"> 
  {% csrf_token %}
    <h2>Update University Account</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name='username' value={{uni.username}} aria-describedby="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="name">University Name</label>
      <input type="text" class="form-control" id="name" name='name' value={{uni.name}} aria-describedby="update-name" placeholder="Enter username">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}